

<%- include("header") %> 


<div class="all-post">
    <h1 class="h1-internal">ALL DOCTORS</h1>


    <form class="post-db-main" action="/alldoctor" method="post">
        <div class="form-group">
          <label class="post-label" data-aos="fade-right"> <h4>SEARCH KEYWORD</h4></label>
          <input class="form-control" type="text" placeholder="write your KEYWORD here!" name="search" required>
        </div> 
        <button data-aos="fade-left" class="btn btn-block btn-dark btn-lg" type="submit" name="button"> <a class="card-link">SEARCH</a> </button>
      </form> 




<%  posts.forEach(function(post){ %>

    <h1 class="medicine-blog-h1" data-aos="slide-up">NAME    :=<%=post.name%></h1>
    <p class="medicine-blog-para" data-aos="slide-up">SPEALIST:= <%=post.special%></p>
    <p class="medicine-blog-para" data-aos="slide-up">CITY   := <%=post.city%></p>
    <p class="medicine-blog-para" data-aos="slide-up">PHONE NO.  := <%=post.phno%></p>
    <p class="medicine-blog-para" data-aos="slide-up">ADDRESS    := <%=post.address%></p>
    <p class="medicine-blog-para" data-aos="slide-up">AGE    := <%=post.age%></p>
    <hr class="blog-hr">


    <% }) %>
</div>
<%- include("footer") -%> 


