<%- include("header") %> 

    <!-- navbar only -->

<!-- THE GAME STARTS HERE -->
<section id="cards">
<h1 class="covid-heading">State wise data for covid19</h1>

<hr class="hr-covid"> 

  <div class="row covid-card-row">
     <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
        <div class="card" data-aos="fade-right">
          <div class="card-header">
            <h3><%=state[0]%></h3>
          </div>
           <div class="card-body">
          <h4 class="h4-font">Today's Data</h4>
          <p class="normal-color"> Active: <%=active[0] %></p>
          <p class="safe-color">Recovered: <%=recover[0]%></p>
          <p class="danger-color"> Deaths: <%=death[0] %></p>
          </div>
        </div>
     </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
    <div class="card" data-aos="fade-right">
      <div class="card-header">
        <h3><%= state[1] %></h3>
      </div>
      <div class="card-body">
          <h4 class="h4-font">Today's Data</h4>
          <p class="normal-color"> Active: <%=active[1] %></p>
          <p class="safe-color">Recovered: <%=recover[1]%></p>
          <p class="danger-color"> Deaths: <%=death[1] %></p>    
      </div>
    </div>
    </div>

    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
        <div class="card" data-aos="fade-down">
          <div class="card-header">
            <h3><%= state[2] %></h3>
          </div>
          <div class="card-body">
              <h4 class="h4-font">Today's Data</h4>
              <p class="normal-color"> Active: <%=active[2] %></p>
              <p class="safe-color">Recovered: <%=recover[2]%></p>
              <p class="danger-color"> Deaths: <%=death[2]  %></p>    
          </div>
        </div>
        </div>

    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
        <div class="card" data-aos="fade-down">
          <div class="card-header">
            <h3><%= state[3] %></h3>
          </div>
          <div class="card-body">
              <h4 class="h4-font">Today's Data</h4>
              <p class="normal-color"> Active: <%=active[3] %></p>
              <p class="safe-color">Recovered: <%=recover[3]%></p>
              <p class="danger-color"> Deaths: <%=death[3]  %></p>    
          </div>
        </div>
        </div> 

    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
        <div class="card" data-aos="fade-left">
          <div class="card-header">
            <h3><%= state[4] %></h3>
          </div>
          <div class="card-body">
              <h4 class="h4-font">Today's Data</h4>
              <p class="normal-color"> Active: <%=active[4] %></p>
              <p class="safe-color">Recovered: <%=recover[4]%></p>
              <p class="danger-color"> Deaths: <%=death[4]  %></p>    
          </div>
        </div>
        </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
    <div class="card" data-aos="fade-left">
      <div class="card-header">
        <h3><%= state[5] %></h3>
      </div>
      <div class="card-body">
        <h4 class="h4-font">Today's Data</h4>
        <p class="normal-color"> Active: <%=active[5] %></p>
        <p class="safe-color">Recovered: <%=recover[5]%></p>
        <p class="danger-color"> Deaths: <%=death[5]  %></p>
      </div>
    </div>
   </div>
</div>

 <!-- Another Row -->
 <div class="row covid-card-row">
    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-right">
         <div class="card-header">
           <h3><%= state[6] %></h3>
         </div>
          <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[6] %></p>
             <p class="safe-color">Recovered: <%=recover[6]%></p>
             <p class="danger-color"> Deaths: <%=death[6]  %></p>
          </div>
       </div>
    </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-right">
     <div class="card-header">
       <h3><%= state[7] %></h3>
     </div>
     <div class="card-body">
         <h4 class="h4-font">Today's Data</h4>
         <p class="normal-color"> Active: <%=active[7] %></p>
         <p class="safe-color">Recovered: <%=recover[7]%></p>
         <p class="danger-color"> Deaths: <%=death[7]  %></p>    
     </div>
   </div>
   </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[8] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[8] %></p>
             <p class="safe-color">Recovered: <%=recover[8]%></p>
             <p class="danger-color"> Deaths: <%=death[8]  %></p>    
         </div>
       </div>
       </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[21] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[21] %></p>
             <p class="safe-color">Recovered: <%=recover[21]%></p>
             <p class="danger-color"> Deaths: <%=death[21]  %></p>    
         </div>
       </div>
       </div> 

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-left">
         <div class="card-header">
           <h3><%= state[10] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[10] %></p>
             <p class="safe-color">Recovered: <%=recover[10]%></p>
             <p class="danger-color"> Deaths: <%=death[10]  %></p>    
         </div>
       </div>
       </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-left">
     <div class="card-header">
       <h3><%= state[11] %></h3>
     </div>
     <div class="card-body">
       <h4 class="h4-font">Today's Data</h4>
       <p class="normal-color"> Active: <%=active[11] %></p>
        <p class="safe-color">Recovered: <%=recover[11]%></p>
        <p class="danger-color"> Deaths: <%=death[11]  %></p>
     </div>
   </div>
  </div>
</div>
 <!-- Another Row -->
 <div class="row covid-card-row">
    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-right">
         <div class="card-header">
           <h3><%= state[12] %></h3>
         </div>
          <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[12] %></p>
             <p class="safe-color">Recovered: <%=recover[12]%></p>
             <p class="danger-color"> Deaths: <%=death[12]  %></p>
          </div>
       </div>
    </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-right">
     <div class="card-header">
       <h3><%= state[13] %></h3>
     </div>
     <div class="card-body">
         <h4 class="h4-font">Today's Data</h4>
         <p class="normal-color"> Active: <%=active[13] %></p>
         <p class="safe-color">Recovered: <%=recover[13]%></p>
         <p class="danger-color"> Deaths: <%=death[13]  %></p>    
     </div>
   </div>
   </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[14] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[14] %></p>
             <p class="safe-color">Recovered: <%=recover[14]%></p>
             <p class="danger-color"> Deaths: <%=death[14]  %></p>    
         </div>
       </div>
       </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[15] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[15] %></p>
             <p class="safe-color">Recovered: <%=recover[15]%></p>
             <p class="danger-color"> Deaths: <%=death[15]  %></p>    
         </div>
       </div>
       </div> 

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-left">
         <div class="card-header">
           <h3><%= state[16] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[16] %></p>
             <p class="safe-color">Recovered: <%=recover[16]%></p>
             <p class="danger-color"> Deaths: <%=death[16]  %></p>    
         </div>
       </div>
       </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-left">
     <div class="card-header">
       <h3><%= state[17] %></h3>
     </div>
     <div class="card-body">
       <h4 class="h4-font">Today's Data</h4>
       <p class="normal-color"> Active: <%=active[17] %></p>
              <p class="safe-color">Recovered: <%=recover[17]%></p>
              <p class="danger-color"> Deaths: <%=death[17]  %></p>
     </div>
   </div>
  </div>
</div>
 <!-- Another Row -->
 <div class="row covid-card-row">
    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-right">
         <div class="card-header">
           <h3><%= state[18] %></h3>
         </div>
          <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[18] %></p>
             <p class="safe-color">Recovered: <%=recover[18]%></p>
             <p class="danger-color"> Deaths: <%=death[18]  %></p>
          </div>
       </div>
    </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-right">
     <div class="card-header">
       <h3><%= state[19] %></h3>
     </div>
     <div class="card-body">
         <h4 class="h4-font">Today's Data</h4>
         <p class="normal-color"> Active: <%=active[19] %></p>
         <p class="safe-color">Recovered: <%=recover[19]%></p>
         <p class="danger-color"> Deaths: <%=death[19]  %></p>    
     </div>
   </div>
   </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[20] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[20] %></p>
             <p class="safe-color">Recovered: <%=recover[20]%></p>
             <p class="danger-color"> Deaths: <%=death[20]  %></p>    
         </div>
       </div>
       </div>

       <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
        <div class="card" data-aos="fade-down">
          <div class="card-header">
            <h3><%= state[33] %></h3>
          </div>
          <div class="card-body">
              <h4 class="h4-font">Today's Data</h4>
              <p class="normal-color"> Active: <%=active[33] %></p>
              <p class="safe-color">Recovered: <%=recover[33]%></p>
              <p class="danger-color"> Deaths: <%=death[33]  %></p>    
          </div>
        </div>
        </div> 

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-left">
         <div class="card-header">
           <h3><%= state[10] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[22] %></p>
             <p class="safe-color">Recovered: <%=recover[22]%></p>
             <p class="danger-color"> Deaths: <%=death[22]  %></p>    
         </div>
       </div>
       </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-left">
     <div class="card-header">
       <h3><%= state[23] %></h3>
     </div>
     <div class="card-body">
       <h4 class="h4-font">Today's Data</h4>
       <p class="normal-color"> Active: <%=active[23] %></p>
              <p class="safe-color">Recovered: <%=recover[23]%></p>
              <p class="danger-color"> Deaths: <%=death[23]  %></p>
     </div>
   </div>
  </div>
</div>
 <!-- Another Row -->
 <div class="row covid-card-row">
    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-right">
         <div class="card-header">
           <h3><%= state[24] %></h3>
         </div>
          <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[24] %></p>
             <p class="safe-color">Recovered: <%=recover[24]%></p>
             <p class="danger-color"> Deaths: <%=death[24]  %></p>
          </div>
       </div>
    </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-right">
     <div class="card-header">
       <h3><%= state[25] %></h3>
     </div>
     <div class="card-body">
         <h4 class="h4-font">Today's Data</h4>
         <p class="normal-color"> Active: <%=active[25] %></p>
         <p class="safe-color">Recovered: <%=recover[25]%></p>
         <p class="danger-color"> Deaths: <%=death[25]  %></p>    
     </div>
   </div>
   </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[26] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[26] %></p>
             <p class="safe-color">Recovered: <%=recover[26]%></p>
             <p class="danger-color"> Deaths: <%=death[26]  %></p>    
         </div>
       </div>
       </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[27] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[27] %></p>
             <p class="safe-color">Recovered: <%=recover[27]%></p>
             <p class="danger-color"> Deaths: <%=death[27]  %></p>    
         </div>
       </div>
       </div> 

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-left">
         <div class="card-header">
           <h3><%= state[28] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[28] %></p>
             <p class="safe-color">Recovered: <%=recover[28]%></p>
             <p class="danger-color"> Deaths: <%=death[28]  %></p>    
         </div>
       </div>
       </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-left">
     <div class="card-header">
       <h3><%= state[29] %></h3>
     </div>
     <div class="card-body">
       <h4 class="h4-font">Today's Data</h4>
       <p class="normal-color"> Active: <%=active[29] %></p>
       <p class="safe-color">Recovered: <%=recover[29]%></p>
       <p class="danger-color"> Deaths: <%=death[29]  %></p>
     </div>
   </div>
  </div>
</div>
 <!-- Another Row  -->
 <div class="row covid-card-row">
    <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-right">
         <div class="card-header">
           <h3><%= state[30] %></h3>
         </div>
          <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[30] %></p>
             <p class="safe-color">Recovered: <%=recover[30]%></p>
             <p class="danger-color"> Deaths: <%=death[30]  %></p>
          </div>
       </div>
    </div>

  <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
   <div class="card" data-aos="fade-right">
     <div class="card-header">
       <h3><%= state[31] %></h3>
     </div>
     <div class="card-body">
         <h4 class="h4-font">Today's Data</h4>
         <p class="normal-color"> Active: <%=active[31] %></p>
         <p class="safe-color">Recovered: <%=recover[31]%></p>
         <p class="danger-color"> Deaths: <%=death[31]  %></p>    
     </div>
   </div>
   </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[32] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[32] %></p>
             <p class="safe-color">Recovered: <%=recover[32]%></p>
             <p class="danger-color"> Deaths: <%=death[32]  %></p>    
         </div>
       </div>
       </div>

   <div class="pricing-column col-lg-2 col-md-4 col-sm-6 covid-card">
       <div class="card" data-aos="fade-down">
         <div class="card-header">
           <h3><%= state[34] %></h3>
         </div>
         <div class="card-body">
             <h4 class="h4-font">Today's Data</h4>
             <p class="normal-color"> Active: <%=active[34] %></p>
             <p class="safe-color">Recovered: <%=recover[34]%></p>
             <p class="danger-color"> Deaths: <%=death[34]  %></p>    
         </div>
       </div>
       </div>

</div> 
</section>
<%- include("footer") %> 